/** @format */

body {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 3em;
	color: #333;
	text-align: center;
}
sup {
	font-size: 0.7em;
}
#table {
	width: 100%;
	display: block;
	padding: auto;
	margin: auto;
}
table,
th,
td {
	border: 1px solid black;
}
