/** @format */
/* top button color #9ACD32
    other green color #9acd32 
*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 16px;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
.green {
	color: #9acd32;
}

.container {
	width: 95%;
	display: block;
	margin: auto;
	/* border: 1px solid gray; */
	box-shadow: 1px 1px 10px gray;
}
.topbar {
	background-color: #112;
	padding: 1px;
	font-size: 0.7em;
}
.topbar ul li {
	color: white;
	display: inline;
	list-style-type: none;
	padding-left: 2px;
}
.topbar ul li a {
	color: white;
	text-decoration: none;
}
.left {
	text-align: left;
}
.right {
	float: right;
	padding-right: 20px;
	letter-spacing: 2px;
}
.button-topbar {
	background-color: #9acd32;
	border: none;
	padding: 10px 10px;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	/* box-shadow: green; */
}
.fa-phone {
	color: #9acd32;
	padding-right: 2px;
}
.icon {
	background-color: #555;
	border: none;
	font-size: smaller;
	font-weight: bolder;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: lightgray;
	cursor: pointer;
}
.icon:hover {
	background-color: #9acd32;
	color: white;
}
.tube {
	padding: auto;
	font-size: 0.6em;
}
.nav-bar ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 20px;
}
.nav-bar .links {
	float: right;
	display: block;
}
.nav-bar ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;

	color: #333;
}
.nav-bar ul li a:hover {
	text-decoration: none;
	color: 9acd32;
	font-weight: 600;
	padding-bottom: 10px;
	border-bottom: 8px solid #ffc400;
}
section {
	display: block;
	margin: auto;
}
.header {
	background-color: #9acd32;
	padding: 7% 25%;
}
.header h1 {
	text-align: center;
	color: white;
	font-size: 3.5rem;
}
.main .header p {
	text-align: center;
	color: white;
}
.main .header button {
	background-color: #ffc400;
	border: none;
	font-size: 1em;
	padding: 12px 35px;
	border-radius: 5px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	border-bottom: 2px solid orangered;
	margin: auto;
	cursor: pointer;
}
.section {
	text-align: center;
	padding: 2%;
	/* box-shadow: 0px 1px 8px gray; */
}
.section h2 {
	font-size: 2.3em;
	text-transform: uppercase;
}
.section h5 {
	font-weight: 500;
	text-transform: uppercase;
}
.section p {
	font-size: 0.9em;
	color: #aaa;
}
.card {
	display: inline-block;
	width: 15%;
	margin: auto;
	padding: 2%;
}
.one .card i {
	color: #9acd32;
	font-size: 5em;
	text-shadow: 1px 1px 10px gray;
}
.button {
	border: none;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.section .two {
	display: inline-block;
	margin: auto;
	background-color: #eee;
}
.section .two .card {
	display: inline-block;
	width: 45%;
	margin: auto;
}
.two .card img {
	width: 500px;
	height: 400px;
}
.section .two .card p {
	text-align: justify;
	font-size: 0.9em;
	color: black;
}
.button2 {
	background-color: #ffc400;
	border: none;
	font-size: 1em;
	padding: 12px 35px;
	border-radius: 5px;
	display: block;
	text-transform: uppercase;
	border-bottom: 2px solid orangered;
	cursor: pointer;
}
.section .three .card {
	width: 20%;
	background-color: #eee;
}
.section .three .card i {
	color: orangered;
	font-size: 3.5em;
	text-shadow: none;
}
.section .three .card a {
	color: #9acd32;
	text-shadow: none;
}
.button3 {
	background-color: #ffc400;
	border: none;
	font-size: 0.5em;
	padding: 20px 20px;
	border-radius: 50%;
	display: block;
	margin: auto;
	text-transform: uppercase;
	box-shadow: none;
	cursor: pointer;
	z-index: 2;
}
.four {
	background-color: #333;
	color: white;
	padding-bottom: 5%;
}

.four ul li {
	list-style-type: none;
	display: inline;
	padding: 15px;
}
.four ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}
.four ul li a:hover {
	color: orange;
}
.four .card i {
	font-size: 5em;
}
.a,
.e,
.h {
	background-color: whitesmoke;
	color: #333;
}
.b,
.j {
	background-color: #555;
	color: whitesmoke;
}
.c,
.g {
	background-color: #ccc;
	color: #333;
}
.d {
	background-color: #777;
	color: white;
}
.f {
	background-color: #999;
	color: white;
}
.i i {
	color: #9acd32;
}
.i {
	background-color: tomato;
}
.form {
	display: inline;
}
.five {
	background-color: #9acd32;
	color: white;
}
.five h1 {
	font-size: 4em;
}
.five p {
	color: #eee;
}
.form input {
	border: none;
	padding: 11px 15px;
	font-size: 1em;
	margin-left: 1%;
	border-radius: 5px;
}
.form input::placeholder {
	color: #aaa;
}
.form button {
	background-color: #ffc400;
	border: none;
	font-size: 1em;
	padding: 12px 30px;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 2px solid orangered;
	margin: 2%;
	cursor: pointer;
}

/* progress bar whole wrappers  */
.section .progress {
	padding: 0;
	margin: 0;
}

.progress-wrapper {
	display: inline-flex;
	padding: 0;
}

.set-size {
	font-size: 10em;
	width: 100%;
	padding: 0;
	display: inline-block;
}
.charts-container {
	width: 100%;
	padding: 0;
}

.charts-container:after {
	clear: both;
	content: "";
	display: inline-block;
	width: 100%;
}

.pie-wrapper {
	height: 1em;
	width: 1em;
	float: left;
	margin: 15px;
	position: relative;
}
/* circle that shows the colored area styling */
.pie-wrapper .pie {
	height: 100%;
	width: 100%;
	clip: rect(0, 1em, 1em, 0.5em);
	position: absolute;
	top: 0;
}
/* half circle that shows the colored area styling */
.pie-wrapper .pie .half-circle {
	height: 100%;
	width: 100%;
	border: 0.1em solid black;
	border-radius: 50%;
	clip: rect(0, 0.5em, 1em, 0);
	position: absolute;
}
/* label under the circle styling */
.pie-wrapper .label {
	border-radius: 50%;
	bottom: 0.4em;
	cursor: default;
	display: block;
	font-size: 0.25em;
	left: 0.4em;
	line-height: 2.8em;
	position: absolute;
	right: 0.4em;
	text-align: center;
	top: 0.4em;
}
/* %age text styling */
.pie-wrapper .label .smaller {
	font-size: 0.45em;
	padding-bottom: 20px;
	vertical-align: super;
}
/* first circle styling  */
.p-one .label {
	color: orange;
	border: 2px solid orange;
}
.p-one .lable .smaller {
	color: orangered;
}
/* second circle styling */
.p-two .label {
	color: tomato;
	border: 2px solid tomato;
}
.p-two .lable .smaller {
	color: tomato;
}
/* third circle styling */
.p-three .label {
	color: #9acd32;
	border: 2px solid #9acd32;
}
.p-three .lable .smaller {
	color: #9acd32;
}

/* forth circle styling */
.p-four .label {
	color: #333;
	border: 2px solid #333;
}
.p-four .lable .smaller {
	color: #333;
}

/* 45% circle */
.pie-wrapper.progress-45 .pie .half-circle {
	border-color: orange;
}
.pie-wrapper.progress-45 .pie .left-side {
	transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
	display: none;
}
/* 60% circle */
.pie-wrapper.progress-60 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
	border-color: tomato;
}
.pie-wrapper.progress-60 .pie .left-side {
	transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
	transform: rotate(180deg);
}
/* 75% circle  */
.pie-wrapper.progress-75 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
	border-color: #9acd32;
}
.pie-wrapper.progress-75 .pie .left-side {
	transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
	transform: rotate(180deg);
}

/* 80% circle  */
.pie-wrapper.progress-80 .pie {
	clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-80 .pie .half-circle {
	border-color: #333;
}
.pie-wrapper.progress-80 .pie .left-side {
	transform: rotate(288deg);
}
.pie-wrapper.progress-80 .pie .right-side {
	transform: rotate(180deg);
}
.label-wrapper {
	display: block;
	position: relative;
	font-size: 15px;
	padding-top: 175px;
	text-transform: uppercase;
	font-weight: bold;
	color: #555;
}
.line-shadow {
	border: 2px solid #ccc;
	border-radius: 50%;
	width: 100%;
	height: 2px;
}
.circle-container {
	display: block;
	margin: 0 auto;
	margin-left: 0.2em;
	padding: 0;
}
.small-circle {
	width: 0.2em;
	height: 0.2em;
	background: orange;
	border: 2px solid orange;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	left: 0.4em;
	top: -0.1em;
}
.circle {
	background: white;
	border: 3px solid #ccc;
	border-radius: 50%;
	margin: 0.1em;
}
.line-simple {
	border: 2px solid #ccc;
	position: relative;
	top: 0.6em;
	display: block;
	margin: auto;
	width: 80%;
	height: 2px;
	z-index: -5;
}
.circle .label {
	color: #9acd32;
	font-size: 0.3em;
	/* font-size: 18px; */
}
.counting {
	border-radius: 50%;
	bottom: 0.4em;
	cursor: default;
	display: block;
	font-size: 0.1em;
	position: absolute;
	text-align: center;
	left: 0.58em;
	top: 0.18em;
	font-weight: bold;
}
.circle-wrapper {
	display: block;
}
.six .contact-info p {
	font-size: 1.5em;
	color: #333;
}
.six .contact-info .tab {
	font-size: 1.5em;
	margin-left: 2em;
}
.six .contact-info i {
	color: #9acd32;
}
